<h1>Bar with ID {{bar.id}}</h1>
    <ul>
        <li>{{bar.id}}</li>
        <li>{{bar.name}}</li>
        <li>{{bar.city}}</li>
        <li>{{bar.province}}</li>
        <li>{{bar.address}}</li>
        <li>{{bar.schedule}}</li>
        <li>{{bar.latitude}}</li>
        <li>{{bar.longitude}}</li>
    </ul>