<h1>Tortilla with ID {{tortilla.id}}</h1>
<ul>
    <li>{{tortilla.id}}</li>
    <li>{{tortilla.price}}</li>
    <li>{{tortilla.average}}</li>
    <li>{{tortilla.image}}</li>
    <li>{{tortilla.id_bar}}</li>
</ul>